<%= render "lists/navbar", lists: @lists %>

<div class="container mt-5">
  <h3><%= @list.name %></h3>
  <hr>
  <% if @list.bookmarks.empty? %>
    <p><em>- this list is empty -</em></p>
  <% else %>
    <ul>
      <% @list.bookmarks.each do |bookmark| %>
        <li><strong><%= bookmark.movie.title %></strong> - <em><%= bookmark.comment %></em></li>
      <% end %>
    </ul>
  <% end %>
  <hr>
  <%= link_to "Add Movie", new_list_bookmark_path(@list), class: "btn btn-outline-primary" %>
</div>
